.env
main_old.py


app/__pycache__
app/routers/__pycache__
app/database/__pycache__
app/schemas/__pycache__
app/services/__pycache__
app/utils/__pycache__
app/models/__pycache__
venv/
meta_control.db
