services:
  api:
    build: .
    container_name: meta_ads_api_prod
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always
    volumes:
      - .:/app
    networks:
      - ads_network

networks:
  ads_network:
    driver: bridge
